body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    font-family: 'DotGothic16', sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.card {
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #333;
    color: #fff;
}

.card-body {
    padding: 2vh;
}

h3 {
    margin: 0;
    color: #55aaff;
}

button {
    background-color: #301E67;
    color: #B6EADA;
    border: none;
    border-radius: 2vh;
    padding: 1.5vh 3vh;
    cursor: pointer;
}

button:hover {
    background-color: #301E89;
}

.form-control {
    width: 100%;
    padding: 2vh;
    margin-bottom: 3vh;
    box-sizing: border-box;
    border: 1px solid #6b6a8d;
    border-radius: 2vh;
    background-color: #333;
    color: #fff;
    font-size: 2vh;
}

.form-control:focus {
    border-color: #55aaff;
    outline: none;
    box-shadow: 0 0 2vh rgba(85, 170, 255, 0.3);
}

.btn {
    background-color: #55aaff;
    color: #fff;
    border: none;
    border-radius: 2vh;
    padding: 1.5vh 3vh;
    cursor: pointer;
}

.btn:hover {
    background-color: #0066cc;
}

#currentUserContainer {
    width: fit-content;
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
}

#currentUser {
    font-size: 3vh;
}

#underline {
    position: relative;
    border: 0.1vh solid #55aaff;
}

#earth {
    display: flex;
    z-index: 1;
    justify-content: center;
    align-content: center;
    margin-top: 20vh;
    border-radius: 50%;
    filter: grayscale(10%);
}

#earth:hover {
    animation: rotate 10s infinite linear;
}

#earth img:hover {
    transform: scale(1.1) rotate(20deg);
    transition: transform 0.3s ease-in-out;
}

#earth img:not(:hover) {
    transform: scale(1) rotate(0deg);
    transition: transform 0.5s ease-in-out;
}

#rocket {
    position: fixed;
    top: 20vh;
    right: 20vh;
    z-index: 1;
    transform: rotate(10deg);
}

#rocket img {
    width: 20vh;
    height: auto;
}

#rocket:hover {
    animation: shake 0.5s ease-in-out;
}

#rocket:hover + .rocket-box {
    display: block;
}

@keyframes shake {
    0%, 100% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
}

.particle {
    position: absolute;
    background-color: #ffcc00;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0;
}

.rocket-box {
    display: none;
    position: fixed;
    top: 31vh;
    right: 40vh;
    background-color: #333;
    color: #fff;
    padding: 1.5vh;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#satellite {
    position: fixed;
    top: 10vh;
    left: 10vh;
    z-index: 1;
    transform: rotate(350deg);
}

#satellite img {
    width: 20vh;
    height: auto;
}

#satellite:hover + .satellite-box {
    display: block;
}

.satellite-box {
    display: none;
    position: fixed;
    top: 31vh;
    left: 40vh;
    background-color: #333;
    color: #fff;
    padding: 1.5vh;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#satelliteline {
    width: 15vh;
    border: 0.1vh solid #55aaff;
    position: fixed;
    top: 30vh;
    left: 16vh;
    transform: rotate(70deg);
}

#satelliteline2 {
    width: 15vh;
    border: 0.1vh solid #55aaff;
    position: fixed;
    top: 20vh;
    left: 26vh;
    transform: rotate(20deg);
}

#moon {
    position: fixed;
    bottom: 10vh;
    left: 10vh;
    z-index: 1;
}

#moon img {
    width: 20vh;
    height: auto;
}

#plus {
    position: fixed;
    bottom: 11vh;
    left: 9vh;
    z-index: 2;
}

#plus img {
    width: 20vh;
    height: auto;
}

#moon:hover + .moon-box {
    display: block;
}

.moon-box {
    display: none;
    position: fixed;
    bottom: 31vh;
    left: 40vh;
    background-color: #333;
    color: #fff;
    padding: 1.5vh;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#moonpagemoon {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#cardContainer {
    position: fixed;
    bottom: 10px;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 400px;
    height: 250px;
}

#deckName {
    background-color: #301E67;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 24px;
}

.scrollable-container {
    width: 50%;
    height: 300px; 
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}