body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #05020d; 
    color: #fff; 
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.card {
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #2c2a41; 
    color: #fff; 
}

.card-body {
    padding: 20px;
}

h3 {
    margin: 0;
    color: #B6EADA;
}

button {
    background-color: #301E67;
    color: #B6EADA;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #301E89;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #6b6a8d;
    border-radius: 4px;
    background-color: #2c2a41;
    color: #fff;
    font-size: 16px;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

#currentUserContainer{
    width: fit-content;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#currentUser {
    font-size: 70px;
}

#underline {
    position: relative;
    border: 2px solid white;
}